/* dashboard.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('login-bg4.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* Dashboard wrapper */
.dashboard {
  width: 100%;
  max-width: 1200px;
  padding: 40px 20px;
}

/* Welcome text and buttons */
.dashboard h2 {
  font-size: 28px;
  color: #f806e4;
  margin-bottom: 10px;
}

button {
  padding: 10px 16px;
  margin: 10px 10px 20px 0;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Grid layout for charts */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

/* Chart box styling */
.chart-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}


.chart-box:hover {
  transform: scale(1.02);
}

.chart-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #983838;
}

/* Make canvas adapt to size */
canvas {
  width: 100% !important;
  height: auto !important;
}

/* Only reduce size of Mood Pie Chart */
.chart-box:nth-child(4) {
  padding: 15px;
  transform: scale(1.00);
}

.chart-box:nth-child(4) canvas {
  max-height: 250px;
}

